<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
<<<<<<< HEAD
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/order-items">Order-Items</a>
        <a href="/menu-items">Menu-Items</a>
=======
        <a href="/">!Home</a>
        <a href="/bsg-people">Bsg-People!</a>
        <a href="/customers">Customers!</a>
        <a href="/orders">Orders!</a>
        <a href="/order-items">Order-Items!</a>
        <a href="/menu-items">Menu-Items!</a>
>>>>>>> 796273566fcc5727fc3b4daa73f62ef48a32c34a
    </nav>

    {{{body}}}

</body>
</html>