<h1>Home page!</h1>
<div class="homepageDescription">
    <p>Developer information and Project overview here.</p>
</div>

<h2>Database UI Pages</h2>

<ul>
    <li><a href="/customers">Browse Customers</a></li>
    <li><a href="/orders">Browse Orders</a></li>
    <li><a href="/menu-items">Browse MenuItems</a></li>
    <li><a href="/order-items">Browse OrderItems</a></li>
</ul>
